.header {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-search {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -72px;
}

/* Estilizando o link */
a#id-itens {
    /* cor da donte de link */
    color: #8898aa;
    /* transição */
    transition: .5s;
}

a#id-itens:hover {
    /* cor que vai mudar quando o mouse passar em cima */
    color: #6c63ff;
}

.container {
    margin-top: 50px;
}

#itens_em_inclusao {
    position: relative;
    z-index: 10;
    margin-top: -72px;
    /* arrendondamento das bordas */
    border-radius: 10px;
    /* sombreamento da caixa (dando a sensação de que está flutuando */
    box-shadow: .5px  10px 15px rgba(0, 0, 0, .2);
}

#consultar_itens {
    /* arrendondamento das bordas */
    border-radius: 10px;
    /* sombreamento da caixa (dando a sensação de que está flutuando */
    box-shadow: .5px  10px 15px rgba(0, 0, 0, .2);
}

#consultar_detentores {
    /* arrendondamento das bordas */
    border-radius: 10px;
    /* sombreamento da caixa (dando a sensação de que está flutuando */
    box-shadow: .5px  10px 15px rgba(0, 0, 0, .2);
}

#consultar_tarnsferencia {
    position: relative;
    z-index: 10;
    margin-top: -72px;
    /* arrendondamento das bordas */
    border-radius: 10px;
    /* sombreamento da caixa (dando a sensação de que está flutuando */
    box-shadow: .5px  10px 15px rgba(0, 0, 0, .2);
}