{% comment %} Navegação entre relatórios {% endcomment %}
<div class="container" style="margin: auto; padding-top: 10px;">
    <div class="row align-items-center"> {% comment "" %}align-items-center py-4{% endcomment %}
        <div class="col align-self-center"> <!--col-lg-12 col-12 -->
            <h6 class="h2 text-white d-inline-block mb-0">Emissão de relatórios</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#">Relatório de Registros</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="#" id="id-itens">Relatório para
                            Homologação</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>