{% comment %} bootstrap icons {% endcomment %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<!-- <link rel="stylesheet" href="/apps/static/assets/css/style-sidenav.css"> -->

<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/logo_esd_2.png" class="navbar-brand-img" alt="Logo ESD" id="logo-esd">
        <h3>Módulo Patrimonial</h3>
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>

          {% comment %} cosulta {% endcomment %}
          <li class="nav-item">
            <!-- SE consulta-itens OU consulta-detentores estiver no segmento => ative a cor da div -->
            <a class="nav-link {% if 'consulta-itens' in segment or 'consulta-detentores' in segment %} active {% endif %}" href="{% url "consulta" %}">
              <i class="ni ni-zoom-split-in text-primary"></i>
              <span class="nav-link-text">Consultar</span>
            </a>
          </li>

          {% comment %} Inclusão de material {% endcomment %}
          {% if request.user.is_staff%}
            <li class="nav-item">
              <a class="nav-link {% if 'form-incluir' in segment or 'consulta-inclusao' in segment %} active {% endif %}" href="{% url "registrar-itens" %}">
                <i class="ni ni-fat-add text-primary"></i>
                <span class="nav-link-text">Incluir material</span>
              </a>
            </li>
            
            <!-- LINK - PÁGINA DE REGISTRO DETENTOR -->
            {% if request.user.is_staff%}
              <li class="nav-item">
                <a class="nav-link {% if 'registrar' in segment %} active {% endif %}" href="{% url 'register' %}">
                  <i class="ni ni-circle-08 text-primary"></i>
                  <span class="nav-link-text">Registrar</span>
                </a>
              </li>
            {% endif %}
          {% endif %}

          {% comment %} Tranferência {% endcomment %}
          <li class="nav-item">
            <a class="nav-link {% if 'form-transferir' in segment or 'consulta-transferencia' in segment %} active {% endif %}" href="/consulta-transferencia.html">
              <i class="ni ni-send"></i>
              <span class="nav-link-text">Transferência</span>
            </a>
          </li>

          <!-- ################ Descarga ##################### -->
          <li class="nav-item">
            <a class="nav-link {% if 'descarga' in segment %} active {% endif %}" href="consulta-em-descarga.html">
              <i class="bi bi-trash-fill"></i>
              <span class="nav-link-text">Descarga</span>
            </a>
          </li>

          {% comment %} cautela {% endcomment %}
          <li class="nav-item">
            <a class="nav-link {% if 'consulta-cautela' in segment or  'form-cautela' in segment %} active {% endif %}" href="/consulta-cautela.html">
              <i class="bi bi-person-fill-lock"></i>
              <span class="nav-link-text">Cautela</span>
            </a>
          </li>

          {% comment %} Relatório {% endcomment %}
          <li class="nav-item">
            <a class="nav-link {% if 'consulta-relatorio' in segment %} active {% endif %}" href="/consulta-relatorio-registros.html">
              <i class="bi bi-journal-check"></i>
              <span class="nav-link-text">Relatório</span>
            </a>
          </li>

          {% comment %} Instrução normativa {% endcomment %}
          <li class="nav-item">
            <a class="nav-link {% if 'consulta-instrucao' in segment %} active {% endif %}" href="/consulta-instrucao.html">
              <i class="bi bi-journal-text"></i>
              <span class="nav-link-text">Instrução normativa</span>
            </a>
          </li>


          <!-- <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="/icons.html">
              <i class="ni ni-planet text-orange"></i>
              <span class="nav-link-text">Icons</span>
            </a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/profile.html">
              <i class="ni ni-single-02 text-yellow"></i>
              <span class="nav-link-text">Profile</span>
            </a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="/tables.html">
              <i class="ni ni-bullet-list-67 text-default"></i>
              <span class="nav-link-text">Tables</span>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/login.html">
              <i class="ni ni-key-25 text-info"></i>
              <span class="nav-link-text">Login (template)</span>
            </a>
          </li>



          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="ni ni-user-run text-red"></i>
              <span class="nav-link-text">Logout</span>
            </a>
          </li>            
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <!-- <h6 class="navbar-heading p-0 text-muted">
          <span class="docs-normal">Resources</span>
        </h6> -->
        <!-- Navigation -->
        <!-- <ul class="navbar-nav mb-md-3">

          <li class="nav-item">
            <a class="nav-link" 
               target="_blank" 
               href="https://appseed.us/admin-dashboards/django-dashboard-argon">
              <i class="ni ni-archive-2"></i>
              <span class="nav-link-text">Product Page</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" 
               target="_blank" 
               href="https://appseed.us/admin-dashboards/django-dashboard-argon-pro">
              <i class="ni ni-spaceship text-red"></i>
              <span class="nav-link-text text-red">PRO Version</span>
            </a>
          </li>

            <li class="nav-item">
            <a class="nav-link active active-pro" 
               target="_blank" 
               href="http://appseed.us">
              <i class="ni ni-send text-dark"></i>
              <span class="nav-link-text">AppSeed</span>
            </a>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
</nav>