{% extends "layouts/base.html" %}

{% block title %} consulta-inclusao {% endblock title %}

{% load static %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static "assets/css/style-forms.css" %}">
{% endblock stylesheets %}


{% block content %}

<div class="header bg-primary pb-6" id="header"> </div>


<!-- Page content -->
<div class="container pb-5" id="form-user-register">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">

      <div class="card bg-secondary shadow border-0">

        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">

            {% if msg %}
            <small>{{ msg | safe }}</small>
            {% else %}
            Registrar novo Detentor
            {% endif %}

          </div>

          {% if not success %}

          <form method="POST">

            {% csrf_token %}
            <!-- INPUT USERNAME -->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                </div>
                {{ form.username }} <!-- A tag input surge automaticamente deste objeto -->
              </div>
            </div>
            <span class="text-error">{{ form.username.errors }}</span>
            
            <!-- INPUT NOME COMPLETO -->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                </div>
                {{ form.nome }} <!-- A tag input surge automaticamente deste objeto -->
              </div>
            </div>
            <span class="text-error">{{ form.nome.errors }}</span>

            <!-- INPUT POSTO OU GRADUAÇÃO -->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                </div>
                {{ form.graduacao }} <!-- A tag input surge automaticamente deste objeto -->
              </div>
            </div>
            <span class="text-error">{{ form.graduacao.errors }}</span>

            <!-- INPUT EMAIL -->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                {{ form.email }}
              </div>
            </div>
            <span class="text-error">{{ form.email.errors }}</span>

            <!-- INPUT PASSWORD1 -->
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                {{ form.password1 }}
              </div>
            </div>
            <span class="text-error">{{ form.password1.errors }}</span>

            <!-- INPUT PASSWORD2 -->
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                {{ form.password2 }}
              </div>
            </div>
            <span class="text-error">{{ form.password2.errors }}</span>

            <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <!-- <input class="custom-control-input" id="customCheckRegister" type="checkbox"> -->
                  {{ form.is_staff }}
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted">Administrador</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-4">Criar Detentor</button>
            </div>
          </form>

          {% endif %}

        </div>
      </div>

    </div>
  </div>


</div>


{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
