{% extends "layouts/base.html" %}

{% block title %} incluir-material {% endblock title %}

{% load static %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static "assets/css/style-forms.css" %}">
{% endblock stylesheets %}


{% block content %}

<div class="header bg-primary pb-6" id="header">
    {% comment %} <div class="containe-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-12 col-7">
                  <h6 class="h2 text-white d-inline-block mb-0">Inclusão de material</h6>
                  <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                      <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                      <li class="breadcrumb-item active" aria-current="page"><a href="consulta-inclusao.html" id="id-itens">Em processo de inclusão</a></li>
                      <li class="breadcrumb-item"><a href="#">Formulário de inclusão</a></li>
                    </ol>
                  </nav>
                </div>
              </div>
        </div>
    </div> {% endcomment %}
</div>

<!-- Page content -->
<div class="container pb-5" id="form-user-register">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
  
        <div class="card bg-secondary shadow border-0">
  
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
  
              {% if msg %}
              <small>{{ msg | safe }}</small>
              {% else %}
              Registrar novo Item
              {% endif %}
  
            </div>
  
            {% if not success %}
  
            <form method="POST">
  
              {% csrf_token %}
              <!-- INPUT Detentor -->
                <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                    </div>
                    {{ form.detentor }}
                    </div>
                </div>
                <span class="text-error">{{ form.detentor.errors }}</span>
                
                <!-- INPUT UORG -->
                <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-building"></i></span>
                    </div>
                    {{ form.uorg }}
                    </div>
                </div>
                <span class="text-error">{{ form.uorg.errors }}</span>
                
                <!-- INPUT Sala -->
                <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-shop"></i></span>
                    </div>
                    {{ form.sala }}
                    </div>
                </div>
                <span class="text-error">{{ form.sala.errors }}</span>
  
              <!-- INPUT nome do item -->
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                  </div>
                  {{ form.nome }} 
                </div>
              </div>
              <span class="text-error">{{ form.nome.errors }}</span>
              
              <!-- INPUT descrição do item -->
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                  </div>
                  {{ form.descricao }} 
                </div>
              </div>
              <span class="text-error">{{ form.descricao.errors }}</span>
  
              <!-- INPUT número patrimonial -->
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                  </div>
                  {{ form.numero_patrimonio }} 
                </div>
              </div>
              <span class="text-error">{{ form.numero_patrimonio.errors }}</span>
  
              <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4">Registrar Item</button>
              </div>
            </form>
  
            {% endif %}
          </div>
        </div>
  
      </div>
    </div>
  
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
      const detentorSelect = document.getElementById('id_detentor');
      const uorgSelect = document.getElementById('id_uorg');
      const salaSelect = document.getElementById('id_sala');
  
      detentorSelect.addEventListener('change', function () {
        const detentorId = this.value;
        fetch(`/ajax/carregar-uorgs/?detentor_id=${detentorId}`)
          .then(response => response.json())
          .then(data => {
            uorgSelect.innerHTML = '<option value="">---------</option>';
            salaSelect.innerHTML = '<option value="">---------</option>';
            data.forEach(uorg => {
              const option = document.createElement('option');
              option.value = uorg.id;
              option.text = `${uorg.codigo} - ${uorg.nome}`;
              uorgSelect.appendChild(option);
            });
          });
      });
  
      uorgSelect.addEventListener('change', function () {
        const uorgId = this.value;
        fetch(`/ajax/carregar-salas/?uorg_id=${uorgId}`)
          .then(response => response.json())
          .then(data => {
            salaSelect.innerHTML = '<option value="">---------</option>';
            data.forEach(sala => {
              const option = document.createElement('option');
              option.value = sala.id;
              option.text = sala.nome;
              salaSelect.appendChild(option);
            });
          });
      });
    });
  </script>

  <!-- 1. Criar o formulário -->
  {% comment %} <div class="container">
    <div class="row justify-content-center m-4">
        <div class="col-12 shadow p-3 mb-5 bg-white rounded">
            <h2>Cadastrar Material</h2>
            <form class="row" method="POST" action="">
                {% csrf_token %}
                <!-- descrição -->
                <div class="col-12 mb-4">
                    <label for="descricao" class="form-label">Descrição:</label>
                    <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Descrição do material" required>
                 </div>
                <!-- Nº patrimonial -->
                <div class="col-6 mb-4">
                    <label for="numero_patrimonio">Número de patrimônio:</label>
                    <!-- <p>Número de patrimônio:</p> -->
                    <div class="input-group mb-4">
                        <span class="input-group-text">NP</span>
                        <input type="text" class="form-control" placeholder="Número patrimonial" maxlength="7" id="numero_patrimonio" name="numero_patrimonio" required>
                    </div>
                </div>
                <!-- preço -->
                 <div class="col-6 mb-4">
                    <label for="preco">Preço:</label>
                    <!-- <p>preço:</p> -->
                    <div class="input-group mb-4">
                        <span class="input-group-text">R$</span>
                        <input type="text" class="form-control" placeholder="Valor" id="preco" name="preco" required>
                    </div>
                </div>
                <!-- Data de aquisição -->
                <div class="col-6 mb-4">
                    <label for="data_aquisicao">Data de aquisição:</label>
                    <!-- <p>Data de aquisição:</p> -->
                    <div class="form-group">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                            </div>
                            <input class="form-control datepicker dates" placeholder="Select date" type="text" id="data_aquisicao" name="data_aquisicao" required>
                        </div>
                    </div>
                </div>
                <!-- data de inclusão no sistema -->
                <div class="col-6 mb-4">
                    <p>Data de inclusão no sistema:</p>
                    <div class="form-group">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                            </div>
                            <input class="form-control datepicker dates[pt-BR]" placeholder="Select date" type="text" disabled>
                        </div>
                    </div>
                </div>
                <!-- Status -->
                <div class="col-3 mb-4">
                    <label for="status" class="form-label">Status:</label>
                    <select class="form-select" name="status" id="status" required>
                        <option selected>Selecione uma opção</option>
                        <option value="ativo">Ativo</option>
                        <option value="inativo">Inativo</option>
                    </select>
                </div>
                
                <!-- condição do material -->
                <div class="col-3 mb-4">
                    <label for="estado" class="form-label">Estado do material</label>
                        <select class="form-select" name="estado" id="estado" required>
                            <option selected>Selecione uma opção</option>
                            <option value="novo">Orçamentário</option>
                            <option value="usado">Extra orçamentário</option>
                        </select>
                </div>

                <!-- Categoria -->
                <div class="col-6 mb-4">
                    <label for="categoria" class="form-label">Categoria do produto</label>
                    <select class="form-select" name="categoria" id="categoria" required>
                        <option selected>Selecione uma opção</option>
                        <option value="informatica">Material de informatica</option>
                        <option value="escritorio">Material de escritório</option>
                        <option value="veiculo">Veículos</option>
                    </select>
                </div>
                <!-- origem do material -->
                <div class="col-12 mb-4">
                    <label for="descricao" class="form-label">Origem do material:</label>
                    <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Digite a origem" required>
                 </div>
                <!-- Observações -->
                <div class="col-12 mb-4">
                    <label for="descricao" class="form-label">Descrição:</label>
                    <textarea class="form-control" rows="5" placeholder="Observações sobre o material..." id="descricao" name="descricao"></textarea>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
 </div> {% endcomment %}

 <!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}

{% endblock content %}

