{% extends "layouts/base.html" %}

{% block title %} cadastrar_produto {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="../../static/assets/css/style-cadastro.css">
{% endblock stylesheets %}

{% block content %}

<div class="header bg-primary pb-6">
    <div class="containe-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                  <h6 class="h2 text-white d-inline-block mb-0">Consultar</h6>
                  <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                      <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                      <li class="breadcrumb-item"><a href="#">Consultar</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Default</li>
                    </ol>
                  </nav>
                </div>
              </div>
        </div>
    </div>
</div>

  <!-- 1. Criar o formulário -->
  <div class="container">
    <div class="row justify-content-center m-4">
        <div class="col-12 shadow p-3 mb-5 bg-white rounded">
            <h2>Cadastrar produto</h2>
            <form class="row">
                <!-- Titulo -->
                 <div class="col-12 mb-4">
                    <label for="titulo" class="form-label">Título:</label>
                    <input type="text" class="form-control" id="titulo" placeholder="Digite o nome do produto">
                 </div>
                <!-- descrição -->
                <div class="col-12 mb-4">
                    <label for="descricao" class="form-label">Descrição:</label>
                    <input type="text" class="form-control" id="descricao" placeholder="Descrição do produto">
                 </div>
                <!-- Nº patrimonial -->
                <div class="col-6 mb-4">
                    <p>Número de patrimônio:</p>
                    <div class="input-group mb-4">
                        <span class="input-group-text">NP</span>
                        <input type="text" class="form-control" placeholder="Número patrimonial">
                    </div>
                </div>
                <!-- preço -->
                 <div class="col-6 mb-4">
                    <p>preço:</p>
                    <div class="input-group mb-4">
                        <span class="input-group-text">R$</span>
                        <input type="text" class="form-control" placeholder="Valor">
                    </div>
                </div>
                <!-- condição do material -->
                <div class="col-6 mb-4">
                    <label for="opcoes" class="form-label">Selecione o estado do material</label>
                    <select class="form-select" name="opcoes" id="opcoes">
                        <option selected>Selecione uma opção</option>
                        <option value="novo">Novo</option>
                        <option value="usado">Usado</option>
                        <option value="quebrado">Quebrado</option>
                    </select>
                </div>
                <!-- 3. Checkbox -->
                <div class="mb-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="estoque">
                        <label for="estoque" class="form-check-label">Em estoque?</label>
                    </div>
                </div>
                <!-- 4. Select - Categoria -->
                <div class="col-12 mb-4">
                    <label for="categoria" class="form-label">Categoria do produto</label>
                    <select class="form-select" name="categoria" id="categoria">
                        <option selected>Selecione uma opção</option>
                        <option value="informatica">Material de informatica</option>
                        <option value="escritorio">Material de escritório</option>
                        <option value="veiculo">Veículos</option>
                    </select>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
 </div>

{% endblock content %}
