{% extends "layouts/base.html" %}

{% block title %} consultar-instrucao {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="../../static/assets/css/style-consulta.css">
{% endblock stylesheets %}

{% block content %}
    {% comment %} Consulta e pesquisa de pessoal/material {% endcomment %}
    <div class="header bg-primary pb-6">
        <div class="containe-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                      <h6 class="h2 text-white d-inline-block mb-0">Instruções normativas</h6>
                      <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                          <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                          <li class="breadcrumb-item"><a href="#">Documentos</a></li>
                          {% comment %} <li class="breadcrumb-item active" aria-current="page"><a href="#">...</a></li> {% endcomment %}
                        </ol>
                      </nav>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
      <div class="form-group mb-0">
        <div class="input-group input-group-alternative input-group-merge">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control" placeholder="Search" type="text">
        </div>
      </div>
      <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </form>

    <div class="container">
        <table class="table table-hover" id='consultar_detentores'>
          <thead>
            <tr>
              <th scope="col" class="col-8">Documento</th>
              <th scope="col" class="col-4">Data de publicação</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Instrução Nº 001</td>
              <td>DD/MM/AAAA</td>
            </tr>
            <tr>
                <td>Instrução Nº 002</td>
                <td>DD/MM/AAAA</td>
            </tr>
          </tbody>
        </table>
      </div>
    

{% endblock content %}
