{% extends "layouts/base.html" %}

{% block title %} consultar-dententores {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="../../static/assets/css/style-consulta.css">
{% endblock stylesheets %}

{% block content %}
    {% comment %} Consulta e pesquisa de pessoal/material {% endcomment %}
    <div class="header bg-primary pb-6"></div>

    <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
      <div class="form-group mb-0">
        <div class="input-group input-group-alternative input-group-merge">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control" placeholder="Search" type="text">
        </div>
      </div>
      <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </form>


    {% if page_obj %}
    <div class="container">
      <table class="table table-striped" id='consultar_itens'>
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Posto/Graduação</th>
            <th scope="col">UORG</th>
            <th scope="col">Salas</th>
            <!-- <th scope="col">Detentor</th> -->
          </tr>
        </thead>
        <tbody>
          <!-- Exibir itens do banco de dados -->
          {% for detentor in page_obj %}
              <tr>
                <!-- Detentor -->
                <th scope="row">{{ detentor.nome }}</th>
                  <!-- Posto/grad -->
                  <td>{{ detentor.graduacao }}</td>
      
                  <!-- UORG e Salas -->
                  {% with detentor.uorgs.all as uorgs %}
                      {% if uorgs %}
                          <td>
                              {% for uorg in uorgs %}
                                  {{ uorg.codigo }}<br>
                              {% endfor %}
                          </td>
                          <td>
                              {% for uorg in uorgs %}
                                  {% for sala in uorg.salas.all %}
                                      {{ sala.nome }}<br>
                                  {% empty %}
                                      Não possui Salas cadastradas<br>
                                  {% endfor %}
                              {% endfor %}
                          </td>
                      {% else %}
                          <td>Não possui UORGs cadastradas</td>
                          <td>—</td>
                      {% endif %}
                  {% endwith %}
              </tr>
          {% endfor %}
        </tbody>
        </table>
      </div>
      {% else %}
        <div>
          <h1>Nenhum Material encontrado</h1>
    {% endif %}
{% comment %} 
    <div class="container">
        <table class="table table-striped" id='consultar_detentores'>
          <thead>
            <tr>
              <th scope="col">Detentor Direto</th>
              <th scope="col">UORG</th>
              <th scope="col">Localização dos patrimônios móveis</th>
              <th scope="col">Substituto eventual</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2º SG-PD <strong>LEANDRO</strong> CÉSAR DOS SANTOS</td>
              <td>
                <ul class="list-unstyled">
                    <li><a href="">094940</a> - PERIFÉRICOS</li>
                    <li><a href="">094940</a> - MATERIAL DE ESCRITÓRIO</li>
                    <li><a href="">094940</a></li>
                </ul>
              </td>
              <td>
                <ul class="list-unstyled">
                    <li>SALA: CT07</li>
                    <li>SALA: CT11-CT12</li>
                    <li>DEPÓSITO DTI</li>
                </ul>
              </td>
              <td>
                <ul class="list-unstyled">
                    <li>2S EMERSON PAULO LESSA DE AGUIAR</li>
                    <li>SD-FN LUIZ OBERTO MATOS RAIOL</li>
                </ul>
              </td>
            </tr>
            <tr>
                <td>2º SG-PD <strong>LEANDRO</strong> CÉSAR DOS SANTOS</td>
                <td>
                  <ul class="list-unstyled">
                      <li>094940</li>
                      <li>094940</li>
                      <li>094940</li>
                  </ul>
                </td>
                <td>
                  <ul class="list-unstyled">
                      <li>SALA: CT07</li>
                      <li>SALA: CT11-CT12</li>
                      <li>DEPÓSITO DTI</li>
                  </ul>
                </td>
                <td>
                  <ul class="list-unstyled">
                      <li>2S EMERSON PAULO LESSA DE AGUIAR</li>
                      <li>SD-FN LUIZ OBERTO MATOS RAIOL</li>
                  </ul>
                </td>
              </tr>
          </tbody>
        </table>
      </div> {% endcomment %}
    

{% endblock content %}
