{% extends "layouts/base.html" %}

{% block title %} consultar-cautela {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="../../static/assets/css/style-consulta.css">
{% endblock stylesheets %}

{% block content %}
    <div class="header bg-primary pb-6">
        {% comment %} <div class="containe-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                      <h6 class="h2 text-white d-inline-block mb-0">Consultar</h6>
                      <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                          <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                          <li class="breadcrumb-item active" aria-current="page"><a href="#" >Cautelas</a></li>
                          <li class="breadcrumb-item active"><a href="form-cautela.html" id="id-itens">Formulário de Cautela</a></li>
                        </ol>
                      </nav>
                    </div>
                  </div>
            </div>
        </div> {% endcomment %}
    </div>

    <div class="container">
        <table class="table table-striped" id='lista'>
          <thead>
            <tr>
              <th scope="col">Responsável</th>
              <th scope="col">Número patrimonial</th>
              <th scope="col">Descrição</th>
              <th scope="col">Data de saída</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>RESPONSÁVEL 1</td>
              <td>123456</td>
              <td>COMPUTADOR DELL</td>
              <td>30/07/2024</td>
              <td>SOB CAUTELA</td>
            </tr>
            <tr>
                <td>RESPONSÁVEL 2</td>
                <td>123456</td>
                <td>COMPUTADOR DELL</td>
                <td>25/07/2024</td>
                <td>RETORNADO</td>
            </tr>
          </tbody>
        </table>
      </div>
    

{% endblock content %}
