{% extends "layouts/base.html" %}

{% block title %} Consultar-relatorios {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="../../static/assets/css/style-consulta.css">
{% endblock stylesheets %}

{% block content %}

<div class="header bg-primary pb-6"></div>

{% comment %} search bar {% endcomment %}
<form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
    <!-- <div class="form-group mb-0">
        <div class="input-group input-group-alternative input-group-merge">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control" placeholder="Search" type="text">
        </div>
      </div> -->

    <!-- Data de aquisição -->
    <div class="col-6 mb-4">
        <p>Data de aquisição:</p>
        <div class="form-group">
            <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                </div>
                <input class="form-control datepicker dates[pt-BR]" placeholder="Select date" type="text">
            </div>
        </div>
    </div>
    <!-- data de inclusão no sistema -->
    <div class="col-6 mb-4">
        <p>Data de inclusão no sistema:</p>
        <div class="form-group">
            <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                </div>
                <input class="form-control datepicker dates[pt-BR]" placeholder="Select date" type="text">
            </div>
        </div>
    </div>
</form>

<div class="container">
    <!-- <h4></h4> -->
    <table class="table table-striped" id='consultar_itens'>
        <thead>
            <tr>
                <th scope="col">Processos</th>
                <th scope="col">Descrição</th>
                <th scope="col">Última atualização</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Transferência</th>
                <td>Descrição 1</td>
                <td>DD/MM/AAAA</td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock content %}