{% extends "layouts/base.html" %}

{% block title %} Consultar-itens {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="../../static/assets/css/style-consulta.css">
{% endblock stylesheets %}

{% block content %}

    {% comment %} Consulta e pesquisa de pessoal/material {% endcomment %}
    <div class="header bg-primary pb-6"></div>
    {% comment %} search bar {% endcomment %}
    <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
      <div class="form-group mb-0">
        <div class="input-group input-group-alternative input-group-merge">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control" placeholder="Search" type="text">
        </div>
      </div>
      <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </form>
    
    <div class="container">
      <table class="table table-striped" id='consultar_itens'>
        <thead>
          <tr>
            <th scope="col">NR Patrimonial</th>
            <th scope="col">Descrição</th>
            <th scope="col">Local</th>
            <!-- <th scope="col">Detentor</th> -->
          </tr>
        </thead>
        <tbody>
          <!-- Exibir itens do banco de dados -->
          {% for item in itens %}
            <tr>
              <!-- codigo -->
              <th scope="row">{{ item.codigo }}</th>
              <!-- descrição -->
               <td>{{ item.descricao }}</td>
               <!-- local -->
               <td>{{ item.local }}</td>
            </tr>
          {% endfor %}

          <!-- <tr> -->
            <!-- tag th deixa em negrito -->
            <!-- <th scope="row">NP12345678</th> -->
            <!-- tag td apenas texto normal -->
            <!-- <td>COMPUTADOR</td>
            <td>BLOCO H-T</td>
            <td>S1 ANTUNES</td>
          </tr>
          <tr>
            <th scope="row">NP12345678</th>
            <td>COMPUTADOR</td>
            <td>BLOCO H-T</td>
            <td>S1 ANTUNES</td>
          </tr>
           -->
        </tbody>
      </table>
    </div>
    

{% endblock content %}
