{% extends "layouts/base.html" %}

{% block title %} consulta-inclusao {% endblock title %}

{% load static %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static "assets/css/style-consulta.css" %}">
{% endblock stylesheets %}


{% block content %}

<div class="header bg-primary pb-6" id="header">
    {% comment %} <div class="containe-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-12 col-7">
                  <h6 class="h2 text-white d-inline-block mb-0">Inclusão de material</h6>
                  <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                      <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                      <li class="breadcrumb-item active" aria-current="page"><a href="#" >Em processo de inclusão</a></li>
                      <li class="breadcrumb-item active"><a href="form-incluir.html" id="id-itens">Formulário de inclusão</a></li>
                    </ol>
                  </nav>
                </div>
              </div>
        </div>
    </div> {% endcomment %}
</div>

<div class="container" >
    <table class="table table-striped" id="itens_em_inclusao">
      <thead>
        <tr>
          <th scope="col">Lote</th>
          <th scope="col">Data de entrada</th>
          <th scope="col">Última atualização</th>
          <th scope="col">Origem</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lote 1</td>
          <td>10/08/2024</td>
          <td>15/08/2024</td>
          <td>Ministério da Defesa</td>
          <td>Aguardando aprovação</td>
        </tr>
        <tr>
            <td>Lote 2</td>
            <td>10/08/2024</td>
            <td>15/08/2024</td>
            <td>Ministério da Defesa</td>
            <td>Aguardando aprovação</td>
        </tr>
        <tr>
            <td>Lote 3</td>
            <td>10/08/2024</td>
            <td>15/08/2024</td>
            <td>Ministério da Defesa</td>
            <td>Aguardando aprovação</td>
        </tr>
      </tbody>
    </table>
  </div>

 <!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}

{% endblock content %}

