{% extends "layouts/base.html" %}

{% block title %} Consultar-relatorios {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="../../static/assets/css/style-consulta.css">
{% endblock stylesheets %}

{% block content %}

<div class="header bg-primary pb-6"></div>

<div class="container">
    <!-- <h4></h4> -->
    <table class="table table-striped" id='consultar_itens'>
        <thead>
            <tr>
                <th scope="col">NR Patrimonial</th>
                <th scope="col">Descrição</th>
                <th scope="col">Local</th>
                <th scope="col">Detentor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1234567</td>
                <td>Descrição 1</td>
                <td>BLOCO H-T</td>
                <td>SG FULANO</td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-default">Imprimir</button>
</div>

{% endblock content %}