{% extends "layouts/base.html" %}

{% block title %} consultar-cautela {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="../../static/assets/css/style-consulta.css">
{% endblock stylesheets %}

{% block content %}
    <div class="header bg-primary pb-6">
        <div class="containe-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                      <h6 class="h2 text-white d-inline-block mb-0">Consultar</h6>
                      <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                          <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                          {% comment %} A FAZER {% endcomment %}
                          <li class="breadcrumb-item active" aria-current="page"><a href="#" >Cautelas</a></li>
                          <li class="breadcrumb-item active"><a href="form-cautela.html" id="id-itens">Formulário de Cautela</a></li>
                        </ol>
                      </nav>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    {% comment %} <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
      <div class="form-group mb-0">
        <div class="input-group input-group-alternative input-group-merge">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control" placeholder="Search" type="text">
        </div>
      </div>
      <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </form> {% endcomment %}

    <div class="container">
        <table class="table table-striped" id='consultar_detentores'>
          <thead>
            <tr>
              <th scope="col">Responsável</th>
              <th scope="col">Número patrimonial</th>
              <th scope="col">Descrição</th>
              <th scope="col">Data de saída</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>RESPONSÁVEL 1</td>
              <td>123456</td>
              <td>COMPUTADOR DELL</td>
              <td>30/07/2024</td>
              <td>SOB CAUTELA</td>
            </tr>
            <tr>
                <td>RESPONSÁVEL 2</td>
                <td>123456</td>
                <td>COMPUTADOR DELL</td>
                <td>25/07/2024</td>
                <td>RETORNADO</td>
            </tr>
          </tbody>
        </table>
      </div>
    

{% endblock content %}
