{% extends "layouts/base.html" %}

{% block title %} consulta-inclusao {% endblock title %}

{% load static %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static "assets/css/style-forms.css" %}">
{% endblock stylesheets %}


{% block content %}
<div class="header bg-primary pb-6">
  <button type="button" class="btn btn-secondary btn-sm"><a class="nav-link" href="{% url "register" %}">Detentor</a></button>
  <button type="button" class="btn btn-secondary btn-sm"><a class="nav-link" href="{% url "registrar-uorg" %}">UORG</a></button>
  <button type="button" class="btn btn-default btn-sm"><a class="nav-link" href="{% url "registrar-salas" %}">Salas</a></button>
</div>


<!-- Page content -->
<div class="container pb-5" id="form-user-register">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">

      <div class="card bg-secondary shadow border-0">

        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">

            {% if msg %}
            <small>{{ msg | safe }}</small>
            {% else %}
            Registrar nova UORG
            {% endif %}

          </div>

          {% if not success %}

          <form method="POST">

            {% csrf_token %}
            <!-- DESCRIÇÃO DA SALA -->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                </div>
                {{ form.nome }} <!-- A tag input surge automaticamente deste objeto -->
              </div>
            </div>
            <span class="text-error">{{ form.nome.errors }}</span>
            
            <!-- SELEÇÃO DA UORG -->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                </div>
                {{ form.uorg }} <!-- A tag input surge automaticamente deste objeto -->
              </div>
            </div>
            <span class="text-error">{{ form.uorg.errors }}</span>

            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-4">Criar Sala</button>
            </div>
          </form>

          {% endif %}
        </div>
      </div>

    </div>
  </div>


</div>


{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
