{% extends "layouts/base.html" %}

{% block title %} cautela-material {% endblock title %}

{% load static %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static "assets/css/style-forms.css" %}">
{% endblock stylesheets %}


{% block content %}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                  <h6 class="h2 text-white d-inline-block mb-0">Consultar</h6>
                  <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                      <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                      {% comment %} A FAZER {% endcomment %}
                      <li class="breadcrumb-item active" aria-current="page"><a href="consulta-cautela.html" id="id-itens">Cautelas</a></li>
                      <li class="breadcrumb-item active"><a href="#" >Formulário de Cautela</a></li>
                    </ol>
                  </nav>
                </div>
              </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center m-4">
        <div class="col-12 shadow p-3 mb-5 bg-white rounded">
            <h2>Cautelar material</h2>
            <form class="row" id="descricao-responsavel">
                <!-- Responsável -->
                <div class="col-12 mb-4">
                    <label for="responsavel" class="form-label">Responsável:</label>
                    <input type="text" class="form-control" id="responsavel" placeholder="Nome do responsavel">
                 </div>
                <!-- Uorg Resposável -->
                <div class="col-4 mb-4">
                    <label for="UORG" class="form-label">UORG do reponsável:</label>
                    <select class="form-select" name="UORG" id="UORG">
                        <option selected>Selecione uma opção</option>
                        <option value="#">123456</option>
                        <option value="#">345678</option>
                        <option value="#">678910</option>
                    </select>
                </div>
                <!-- Número de contato -->
                <div class="col-4 mb-4">
                    <label for="numero-contato" class="form-label">Número para contato:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <!-- CPF -->
                <div class="col-4 mb-4">
                    <label for="local" class="form-label">CPF:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Insira o CPF">
                    </div>
                </div>
            </form>

            <!-- ----------------------------------------------------------------------- -->
            <!-- MATERIAL -->
            <form class="row">            
                <!-- Número patrimonial -->
                <div class="col-6 mb-4">
                    <h3>Número de patrimônio:</h3>
                    <div class="input-group">
                        <span class="input-group-text">NP</span>
                        <input type="text" class="form-control" placeholder="Número patrimonial">
                    </div>
                </div>
                <!-- local de destino -->
                <div class="col-6 mb-4">
                    <label for="local" class="form-label">Local de destino:</label>
                    <select class="form-select" name="local" id="local">
                        <option selected>Selecione um local</option>
                        <option value="#">CT07</option>
                        <option value="#">CT11-CT12</option>
                        <option value="#">DEPÓSITO DTI</option>
                    </select>
                </div>
                <!-- descrição do material -->
                <div class="col-12 mb-4">
                    <label for="descricao" class="form-label">Descrição:</label>
                    <input type="text" class="form-control" id="descricao" placeholder="Descrição do material">
                 </div>
                <!-- condição do material -->
                <div class="col-3 mb-4">
                    <label for="estado" class="form-label">Estado do material</label>
                    <select class="form-select" name="estado" id="estado">
                        <option selected>Selecione uma opção</option>
                        <option value="novo">Novo</option>
                        <option value="usado">Usado</option>
                        <option value="quebrado">Quebrado</option>
                    </select>
                </div>
                <!-- Observações -->
                <div class="col-12 mb-4">
                    <label for="content" class="form-label">Observações:</label>
                    <textarea class="form-control" rows="5" placeholder="Observações sobre o material..."></textarea>
                </div>
                <div class="col-12">
                    <!-- botão de incluir itens -->
                    <button class="btn btn-primary" type="submit">Incluir</button>
                    <!-- Botão de ver os itens inclusos na transferência -->
                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                    aria-controls="offcanvasRight">
                    ver itens
                    </button>
                
                    <!-- OFF CANVAS -->
                    <div class="offcanvas offcanvas-end" tabindex="1" id="offcanvasRight" aria-labelledby="OffcanvasLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvasLabel">Itens Incluidos</h5>
                            <button class="btn-close text-reset" type="submit" type="button" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="list-inline">
                                <li class="list-inline-item">Responsável: </li>
                                <li class="list-inline-item"><strong>SD HENRICK</strong></li>
                            </ul>
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">NP</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>COMPUTADOR DELL 9020</td>
                                    <td>123456</td>
                                  </tr>
                                  <tr>
                                    <td>COMPUTADOR DELL 9020</td>
                                    <td>789012</td>
                                  </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-primary" type="submit">Confirmar cautela</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
 </div>

 <!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}

{% endblock content %}

