{% extends "layouts/base.html" %}

{% block title %} consultar-material {% endblock title %}


{% load static %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static "assets/css/style-consulta.css" %}">
{% endblock stylesheets %}


{% block content %}
{% comment %} Consulta e pesquisa de pessoal/material {% endcomment %}
{% if page_obj %}
<div class="container mt-3">
  <div class="row align-items-center justify-content-between">
    
    <div class="col-md-auto">
      {% if detentor_name %}
        <strong>Detentor:</strong> {{ detentor_name }} <br>
        <strong>UORG:</strong> {{ uorg_codigo }}
      {% endif %}
    </div>

    <div class="col-md-auto">
      <form class="navbar-search navbar-search-light form-inline" id="navbar-search-main">
        <div class="form-group mb-0">
          <div class="input-group input-group-alternative input-group-merge">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control" placeholder="Search" type="text">
          </div>
        </div>
        <button type="button" class="close ml-2" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </form>
    </div>

  </div>
</div>

<div class="container">
  <a href="{% url "consulta-detentor" %}"><i class="bi bi-arrow-left">voltar</i></a>
  <table class="table table-striped" id='consultar_itens'>
    <thead>
      <tr>
        <th scope="col">Número Patrimonial</th>
        <th scope="col">Item</th>
        {% comment %} <th scope="col">Descrição</th> {% endcomment %}
        <th scope="col">Bloco</th>
        <th scope="col">Sala</th>
        <!-- <th scope="col">Detentor</th> -->
      </tr>
    </thead>
    <tbody>
      {% for item in page_obj %}
      <tr>
        <th scope="row">{{ item.numero_patrimonio }}</th>
        <th>{{ item.nome }}</th>
        <th>{{ item.sala.bloco }}</th>
        <th>{{ item.sala.nome }}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="container mt-3">
  <h1>Nenhum Material encontrado</h1>
  <a href="{% url "consulta-detentor" %}"><i class="bi bi-arrow-left">voltar</i></a>
</div>
  {% endif %}

  {% endblock content %}